 <main class="site-main" role="main">
                <div class="single-event-container bg-gray-100 pb-6 ceremonie-de-remise-des-diplomes">
        <div class="page-banner mb-6">
            <div class="banner orange-to-yellow">
                <div class="container">
                    <div class="flex row">
                        <div class="breadcrumb"><span><span><a href="https://www.yana-j.fr/">Accueil</a> &gt; <span><a href="https://www.yana-j.fr/agenda/">Agenda</a> &gt; <span class="breadcrumb_last" aria-current="page"><%=@event.title%></span></span></span></span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="single-event-wrapper flex row flex-col-reverse md:flex-row">
                
                <article id="event-9302" class="w-full lg:w-2/3 post-9302 evenement type-evenement status-publish has-post-thumbnail hentry category-scolarite-orientation-formation">

                    <header class="event-header">
                        <img class="block md:hidden mb-4" src="https://www.yana-j.fr/wp-content/uploads/2022/07/template-visuel-agenda-site-2022-07-07t100853258.jpg" alt="">
                        <span class="event-date text-blue-100 font-cursive"><%=@event.mydate%></span>
                        <h1 class="event-title font-bold text-black-200"><%=@event.title%></h1>
                        <span class="event-place text-black-300 font-semibold"></span>
                    </header>

                    <div class="event-content text-black-300">
                        <%=@event.content.html_safe%>

                    
                                            <div class="categories-list mt-6" data-equalize="news-cards-categories">
                                            <%@event.topics.each do |topic|%>
                                                            <span class="category mb-2 mr-2"><%=topic.name%></span>
                                                            <%end%>
                                                    </div>
                    
                    <div class="atcb">
                        {
                          "label":"Ajouter à mon agenda",
                          "title":"<%=@event.title%>",
                          "description":"",
                          "dateStart":"<%=l(@event.startdate,format: :eventdate)%>",
                          "dateEnd":<%=l(@event.enddate,format: :eventdate)%>",
                          "timeStart":"<%=l(@event.starttime,format: :eventtime)%>",
                          "timeEnd":"<%=l(@event.endtime,format: :eventtime)%>",
                          "location":"",
                          "options":[
                            "Apple",
                            "Google",
                            "iCal",
                            "Microsoft365",
                            "Outlook.com",
                            "Yahoo"
                          ],
                          "trigger":"click",
                          "iCalFileName":"Reminder-Event"
                        }
                    </div>
                </article>

                <div class="btn-previous-post flex items-center">
                    <svg width="15px" height="10px" style="transform: rotate(180deg)" viewBox="0 0 15 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g transform="translate(-365.000000, -10.000000)" fill="#000000" fill-rule="nonzero"><path d="M375.59375,18.9531257 C375.406249,18.7656248 375.406249,18.5781266 375.59375,18.3906257 L378.734375,14.9218757 L365.375,14.9218757 C365.124999,14.9218757 365,14.796877 365,14.5468757 C365,14.2968745 365.124999,14.1718757 365.375,14.1718757 L378.734375,14.1718757 L375.59375,10.7031257 C375.406249,10.5156248 375.406249,10.3281266 375.59375,10.1406257 C375.781251,9.95312477 375.968749,9.95312477 376.15625,10.1406257 C378.625012,12.8593893 379.875,14.2343755 379.90625,14.2656257 C379.96875,14.328126 380,14.4218751 380,14.5468757 C380,14.6718763 379.96875,14.7656254 379.90625,14.8281257 L376.15625,18.9531257 C376.09375,19.015626 376,19.0468757 375.875,19.0468757 C375.749999,19.0468757 375.65625,19.015626 375.59375,18.9531257 Z"></path></g></svg>
                    <a href="https://www.yana-j.fr/agenda/">Retour à l'agenda</a>
                </div>

                <aside class="event-sidebar hidden md:block lg:w-1/3 ">
                    <img src="https://www.yana-j.fr/wp-content/uploads/2022/07/template-visuel-agenda-site-2022-07-07t100853258.jpg" alt="">
                </aside>
            </div>
<%if @event.otherevents.length > 0%>
                            <section class="read-more-posts row">
                    <h2 class="font-bold text-black-200 mb-8">Voir aussi ...</h2>

                    <div class="flex flex-col md:flex-row items-stretch">
<%=render collection: @event.otherevents, as: :event, partial: "event"%>
</div>
</section>
<%end%>
                    </div>
    </div>
        </main>